
<iframe width="840" height="520" src="https://www.youtube.com/embed/QzIN3EgBIHg?autoplay=1" frameborder="0" allowfullscreen></iframe>
<%= link_to 'Employer Activity', employers_path %> 
<br>
<br>
<br>
<br>
<br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://ww3.hdnux.com/photos/27/63/46/6240702/3/628x471.jpg" alt="", height="420" width="820", align="center">
      <div class="carousel-caption">
          <h3>Uber Drivers</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://blogdottaskrabbitdotcom.files.wordpress.com/2013/11/handyman2x.jpg" alt="", height="420" width="820">
      <div class="carousel-caption">
          <h3>Task Rabbits</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://smallbusiness.chron.com/DM-Resize/photos.demandstudios.com/getty/article/151/44/83590759.jpg?w=600&h=600&keep_ratio=1" alt="",height="420" width="820">
      <div class="carousel-caption">
          <h3>Other Independent Contractors</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->


