<div class="header">
  
  <h2>Bringing 3rd Party Benefits to the On-Demand Employee</h2>
  <h5>VHR, inc.</h5>
<div>

<br>
<br>
<br>
<br>
<br>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/Uber.jpg" alt="uber" class="uber" >
      <div class="carousel-caption">
          <h3>Uber</h3>
      </div>
    </div>
    <div class="item">
      <img src="/assets/task.jpg" alt="task rabbit" class="task" >
      <div class="carousel-caption">
          <h3>Task Rabbit</h3>
      </div>
    </div>
    <div class="item">
      <img src="/assets/ic.jpg" alt="other independent contractors" class="ic" >
      <div class="carousel-caption">
          <h3>Other Independent Contractors</h3>
      </div>
    </div>
  </div>


 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->



  

  <br>
  <br>
  <br>
  <br>

<%= link_to "Add Paystub", new_path  %>


  

  <br>
    
  <br>
  <br>
  <br>

<div class ="bottom">
<a href="https://www.facebook.com/zach.golman">About Us</a>
<a href="http://www.w3schools.com">Team</a>
<a href="http://www.w3schools.com">Partners</a>
<a href="http://www.w3schools.com">Contact Us</a>
<div>


