// Place all the styles related to the employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container { 
	width: 100%; }

#top{
  height: 340px / 1440px * 100%;
  text-align: center;

}

#content{
  height: 110px / 1440px * 100%;
}

.user{
	font-size: 74px;

}

.user2{
	font-size: 54px;

}

.link{
	font-size: 32px;
}